---
const { tag, isFav } = Astro.props

---


{
    isFav ? <a class="px-2 py-1 bg-[#EEF2F6] hover:bg-[#E3E8EF] text-indigo-500 cursor-pointer rounded-lg font-medium" href={`/favorites/${tag}`}>#{tag}</a> : <span class="px-2 py-1 bg-[#EEF2F6] hover:bg-[#E3E8EF] text-indigo-500 cursor-pointer rounded-lg font-medium">#{tag}</span>
}


