---
const links = [
    {
        title: "me",
        url: "/",
    },
    {
        title: "blog",
        url: "/",
    },
    {
        title: "now",
        url: "/now",
    },
    {
        title: "favorites",
        url: "/favorites",
    },
];
---

<div class="flex justify-center gap-x-4 flex-wrap ibm-plex-regular items-center md:flex-col md:gap-y-2 md:justify-start md:items-start">
    {
        links.map((link) => (
            <a
                href={link.url}
                class="text-lg"
            >
                {link.title}
            </a>
        ))
    }
    <!-- <a>
        <img src="/moon.svg" alt="moon-icon" class="text-black text-lg">
    </a> -->
</div>

