---
import { Navbar } from "./Navbar/Navbar";
export interface Props {
  title: string;
}

const { title } = Astro.props;

// links is an array of objects with the following shape:
// {
//   name: string;
//   url: string;
// }

const links = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "About",
    url: "/about",
  },
  {
    name: "Blog",
    url: "/blog",
  },
  {
    name: "Contact",
    url: "/contact",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar client:load />
    <div class="main-wrapper">
			<div class="main-page">
				<slot />
			</div>
		</div>
  </body>
</html>
<style>
  :root {
  }

	.main-wrapper {
		display: flex;
		justify-content: center;
	}

	.main-page {
		width: 100%;
		max-width: 900px;
	}
	
  html {
    font-family: "Ubuntu", sans-serif;
  }

  body {
    margin: 0;
    height: 100vh;
  }

  :global(h1) {
    /* font-size: var(--font-size-xl); */
  }

  :global(h2) {
    /* font-size: var(--font-size-lg); */
  }

  :global(code) {
    /* font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace; */
  }
</style>
