---
import signLogo from "../images/signature.png";

export interface Props {
  links: {
    name: string;
    url: string;
  }[];
}

const { links } = Astro.props;
---

<div class="navbar-container">
  <div class="img-container">
    <!-- <p>
      Sumit 
    </p> -->
    <img src={signLogo} />
  </div>

  <ul>
    {
      links.map(({ name, url }) => (
        <li>
          <a href={url}>{name}</a>
        </li>
      ))
    }
  </ul>
</div>
